.post-search {
	margin-bottom: 20px;
	display: flex;
	width: 520px;
	.searchform {
		width: 100%;
		height: 54px;
	}
	input[placeholder] {
		font-size: 17px;
		line-height: 25px;
		color: #999999;
		font-family: "Noah";
		font-weight: 400;
	}

	input[type=text] {
		padding: 13px 15px;
		border: none;
	}

	button {
	  padding: 13px 15px;
	  background: #fff;
	  border: none;
	  cursor: pointer;
	  height: 54px;

	  .search-svg {
	  	width: 20px;
	  	height: 20px;
	  	fill: #333333;
	  }
	}
}

.post_error {
	padding-left: 15px;
}

.page-news__wrap {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin-left: -15px;

	.news-card {
		display: flex;
		flex-direction: column;
		width: calc(33.3334% - 30px);
		margin: 0 15px 30px;
		border: 1px solid #5D5D5D;
		transition: .3s;
		height: 409px;
		padding: 15px 0;

		&__img-wrap {
			padding: 15px;
			padding-top: 0;

			img {
				width: 100%;
				object-fit: cover;
			}
		}
		&__wrap {
			padding: 0 20px;
		}

		&__date {
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
			color: $main-color-hover;
			margin-bottom: 20px;
		}

		&__title {
			font-weight: 700;
			font-size: 22px;
			line-height: 24px;
			color: $main-color;
		}

		&:hover {
			background: #303030;
			border: 1px solid #303030;
		}
	}
}

.search-head {
	display: flex;
	justify-content: space-between;
}

.my-select {
	position: relative;
    min-width: 150px;
	.my-select-header {
		display: flex;
		justify-content: space-between;
		color: $main-color;
		padding: 16px 15px;
		border: 1px solid #5D5D5D;
		cursor: pointer;

		svg {
			width: 20px;
			height: 20px;
			fill: $main-color-hover;
		}
	}

	.my-select-dropdown {
		position: absolute;
		top: calc(100% - 14px);
		width: 100%;
		background-color: #303030;;
		padding: 15px 0 15px 15px;
		opacity: 0;
		z-index: 10;
		visibility: hidden;
		transition: $transition;
		display: grid;
		row-gap: 8px;
		border: 1px solid #5D5D5D;

		a {
			color: $main-color;
			transition: $transition;

			&:hover {
				color: $main-color-hover;
				transition: $transition;
			}
		}
	}

	&.active {
		.my-select-dropdown {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media(max-width: 991px) {
	.page-news__wrap .news-card {
		width: calc(50% - 30px);
		height: auto;

		&__title {
			font-size: 16px;
			line-height: 22px;
		}

		&__date {
			margin-bottom: 0;
		}
	}
}

@media(max-width: 575px) {
	.page-news__wrap .news-card {
		width: 100%;
		height: auto;
	}

	.search-head {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.post-search, .select-year-of {
		width: 100%;
	}

	.my-select .my-select-dropdown {
		top: 100%;
	}
}

